figure {
    font-Style: italic;
    font-size: 0.8em;
}

.construction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:85vh;
}

.constructionImg {
    max-width: 100%;

}

@media screen and (max-width:576px) {
    figure {
        font-size: 0.5em;
        margin: 0;
    }
    .construction {
        text-align: center;
    }
}

