:root {
    --light-bg: salmon;
    --light-color: #212529;

    --dark-bg:#191d32;
    --dark-color: #fcd5ce;

    font-family: "Courier new", Arial, monospace, sans-serif, serif;
}

body {
    background-color:  light-dark(var(--light-bg), var(--dark-bg));
    color: light-dark(var(--light-color), var (--dark-color));
    margin: 4vw;
}
