section {
    display: flex;
    margin-top: 2vw;
}

.bio {
    display: flex;
    flex-direction: column;
}

.potrett {
    height: 30em;
    padding-left: 10vw;
    margin-right: 4vw;
}

@media screen and (max-width:576px) {
    section {
        flex-direction: column-reverse;
        align-items: center;
    }

    .potrett {
        height: auto;
        width: 15em;
    }


}
