header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-left: 4em;
    margin-right: 4em;
    height: 10vh;
}

img {
    margin: .5em;
}

button {
    background-color: rgba(0,0,0,0);
    display: flex;
    align-items: center;
    border-style: none;
    cursor: pointer;
}
button:hover {
    background-color: light-dark(rgba(255,160,122,1), rgba(47,79,79,1));
    box-shadow: 0.2em 0.2em 0.5em 0 rgba(0,0,0,0.6);
    border-radius: 1em;
}

.buttonItem {
    display: flex;
    align-items: center;
}

.icons {
    height: 1.5em;
}

.divider {
    font-size: 1.5em;
    font-weight: bolder;
}

.språk {
    padding-right:2em;
}

@media screen and (max-width:576px) {
    p {
        font-size: 2vw;
    }
    header {
        margin-left: 1em;
        margin-right: 1em;
        height: 5vh;
    }

    .icons {
        height: 1em;
    }

    .divider {
        font-size: 1em;
    }

    .språk {
        padding-right: 0em;
    }

}
