nav {
    display: flex;
    gap: 1em;
    background-color: light-dark(#FF9966,#282f44);
    margin-top: 2vh;
    padding: 0.5%;
    position: sticky;
    top: 0;
}

a {
    padding: .5em;
    text-decoration:none;
    color: light-dark(black, #fcd5ce);

}

a.active, a:hover {
    border-radius: 1em;
    background-color: light-dark(#FF661A, rgba(47,79,79,1));
}

@media screen and (max-width:576px) {
    nav{
        text-align: center;
        flex-direction: column;
        gap: 0;
    }
}
