nav {
    display: flex;
    gap: 1em;
    background-color: light-dark(#FA8072,#282f44);
    margin-top: 2vh;
}
a {
    padding: .5em;
    text-decoration:none;
    color: light-dark(black, #fcd5ce);

}

a.active, a:hover {
    border-radius: 10%;
    background-color: light-dark(#F8513E, #453a49);
}
