.popoutInactive{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popoutInactive:hover {
    cursor: zoom-in;
    height: 100%;
}
.popoutInactive:hover img {
    transform: scale(1.03);
}

.popoutInactive img {
    align-self: center;
}

.popoutActive {
    position: fixed;
    top: 0;
    left: 0;
    background-color: hsla(0,0%,0%,0.7);
    height: 100%;
    width: 100%;
    z-index: 100;
    margin: auto;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    cursor: zoom-out;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popoutActive img {
    max-width: 100%;
    height: auto;
    max-height: 90vh;
}

@media screen and (max-width:576px) {
    .popoutActive img {
        max-width: 80vw;
    }
}
